
*{
  margin: 0;
  padding: 0;
   
} 
html, body{

	display: flex;
	align-items: center;
	justify-content: center;

}

body{
    background-image: url("../img/grassland.jpg"); 
    background-size: auto 100% ;
    background-repeat: no-repeat;
    background-position: center; 
    
}

.main-container{  
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h1{
    text-align: center;
}
form{
    margin: 0 auto;
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    font-size: 0.8em;
}

form div input{
    width: 100%;
}
form div{
    margin-bottom: 10px;
}

input, textarea{
    outline: none;
    width: 100%;

}
.full{
    margin: 0 auto;
    align-content: center;
    text-align: center;
}
.send-button-container{
    display: flex;
    justify-content: center;
}





