
*{
  margin: 0;
  padding: 0;
   
} 

html, body{

	display: flex;
	align-items: center;
	justify-content: center;

}

body{
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    width: 100%;
    
}

.title{
	margin-bottom: 40px;
	margin-top: 20px;
}

.main-container{  
    width: 70%;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
	border-radius: 15px;
background-color: rgba(121,121,121,0.2); 
	text-align: center;
}

@media (min-width: 600px){
	
	body{
		background-image: url("../img/grassland.jpg"); 
	}
    .main-container{  
        width: 40%;
		padding: 5px;
    }
	 form input, form textarea {
        font-size: 1.5em;
    }
} 

@media (max-width: 600px){
	
    input, textarea{
		background-color: rgba(121,121,121,0.2); 
	
	}
	.main-container{  
   

    display: flex;
    justify-content: center;
    flex-direction: column;
	border-radius: 15px;
	background-color: transparent;
	text-align: center;
}
	
input{
    outline: none;
    width: 90%;
	border-radius: 15px;
	margin-bottom: 30px;
	margin-left:3%;
	padding:5px;
	border: 0px;
	color: black;
	height: 40px;


}
textarea{
    outline: none;
    width: 90%;
	border-radius: 15px;
	margin-bottom: 30px;
	margin-left:3%;
	padding:5px;
	border: 0px;
	height: 90px;
	
}
} 

h1{
    text-align: center;
}
form{
    margin: 0 auto;
    width: 100%;
    border-radius: 3px;
    font-size: 0.8em;
	border-radius: 20px;

}

form div input{
    width: 100%;

}
form div{
    margin-bottom: 10px;
}

input{
    outline: none;
    width: 90%;
	border-radius: 15px;
	margin-bottom: 30px;
	margin-left:3%;
	padding:5px;
	border: 0px;
	height: 40px;

}
textarea{
    outline: none;
    width: 90%;
	border-radius: 15px;
	margin-bottom: 30px;
	margin-left:3%;
	padding:5px;
	border: 0px;
	height: 100px;
	resize: none;
}
.full{
    margin: 0 auto;
    align-items: center;
    text-align: center;
}
.send-button-container{
    display: flex;
    justify-content: center;
}





