/* MOBILE */

.faq{
    width: 100%;
    height: auto;
}

.container{
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
}

.foto-preguntas{
    width: 193px;
    height: 193px;
}

.preguntas{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
}

.container-titulo-seccion{
    margin-bottom: 60px;
    font-family: sans-serif;
    font-size: 24px;
    display: flex;
    align-items: center;
}

.preguntas-frecuentes{
    display: flex;
    flex-wrap: wrap;  
    align-items: center;
}

.button{
    background-color: #fff;
    border: none;
    text-align: left;
    background-color: #820053;
    border: solid 1px #040404;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 10px;
}

#flecha_abajo{
    color: #fff;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 100px;
}

.button:focus #flecha_abajo{
    transform: rotate(90deg);
}

#titulo-pregunta{
    width: 80%;
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
}

#respuesta{
    font-family: sans-serif;
    font-size: 17px;
    border: solid 2px #000000;
    padding: 20px 0px;
    text-align: center;
    margin-bottom: 10px;
}

@media(min-width: 890px){
    
    .container-titulo-seccion{
        font-family: sans-serif;
        font-size: 28px;
        height: 70px;
    }
}

@media(min-width: 1400px){
    .container{
        display: flex;
        flex-wrap: nowrap;    
        justify-content: center;
    }

    .foto-preguntas{
        width: 500px;
        height: 500px;
        margin-top: 50px;
    }

    .button{
        height: 85px;
        display: flex;
        align-items: center;
    }
}