/* MOBILE */

.faq{
    width: 100%;
    height: auto;
}

.container{
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
}

.foto-preguntas{
    width: 193px;
    height: 193px;
}

.preguntas{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
}

.container-titulo-seccion{
    margin-bottom: 60px;
    font-family: sans-serif;
    font-size: 28px;
}

.preguntas-frecuentes{
    display: flex;
    flex-wrap: wrap;  
    align-items: center;
}

.titulo-pregunta{
    font-family: sans-serif;
    font-size: 20px;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropbtn{
    background-color: #fff;
    border: none;
    margin-bottom: 30px;
    text-align: left;
}

.dropdown-content{
    display: none;
    position: relative;
}

.dropdown:active .dropdown-content{
    display: block;
    margin-bottom: 20px;
}

.respuestas{
    font-family: sans-serif;
    font-size: 16px;
}

@media(min-width: 500px){
    .container-respuesta{
        margin-bottom: 40px;
    }
}

@media(min-width: 730px){
    .preguntas{
        display: flex;
        justify-content: flex-start;
        margin-top: 60px;
    }

    .container-titulo-seccion{
        margin-bottom: 40px;
        font-family: sans-serif;
        font-size: 28px;
    }

    .preguntas-frecuentes{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .container-titulo-pregunta{
        width: 408px;
    }

    .titulo-pregunta{
        font-family: sans-serif;
        font-size: 20px;
    }
    
    .dropdown{
        width: 50%;
    }

    .respuestas{
        font-family: sans-serif;
        font-size: 16px;
    }
}

@media(min-width: 1400px){
    .faq{
        margin-bottom: 50px;
    }

    .container{
        display: flex;
        flex-wrap: nowrap;    
        justify-content: center;
    }

    .foto-preguntas{
        width: 500px;
        height: 500px;
    }

    .preguntas{
        display: flex;
        justify-content: flex-start;
        margin-top: 60px;
    }

    .container-titulo-seccion{
        margin-bottom: 40px;
        font-family: sans-serif;
        font-size: 32px;
    }

    .preguntas-frecuentes{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .titulo-pregunta{
        font-family: sans-serif;
        font-size: 20px;
    }
    
    .dropdown{
        width: 40%;
        margin-right: 10px;
    }

    .dropdown:active .dropdown-content{
        display: block;
        margin-bottom: 0px;
    }

    .respuestas{
        font-family: sans-serif;
        font-size: 16px;
    }
}