/* LAPTOP */
.faq{
    padding-top: 100px;
    height: 560px;
}

.container{
    display: flex;
    flex-wrap: nowrap;
}

.foto-preguntas{
    Width: 500px;
    Height: 500px;
}

.preguntas{
    width: 75%;
    height: auto;
    margin-left: 50px;
}

.container-titulo-seccion{
    width: 401px;
    height: 37px;
    font-size: 20px;
    margin-bottom: 25px;
}

.titulo-seccion{
    font-family: sans-serif;
}

.preguntas-frecuentes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.container-titulo-pregunta{
    width: 400px;
    height: 28px;
    margin-bottom: 5px;
}

.titulo-pregunta{
    font-family: sans-serif;
    font-size: 15px;
}

.container-respuesta{
    width: 393px;
    height: 45px;
    margin-bottom: 50px;
    font-size: 10px;
}

.respuestas{
    font-family: sans-serif;
}

/* MOBILE */
@media(max-width: 1400px){
    .faq{
        height: auto;
    }
    
    .container{
        display: flex;
        flex-wrap: wrap;    
        justify-content: center;
        flex-direction: column;
    }
    
    .foto-preguntas{
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
        Width: 193px;
        Height: 193px;
    }
    
    .preguntas{
        width: 75%;
        height: auto;
        margin-left: 50px;
    }
    
    .container-titulo-seccion{
        width: 401px;
        height: 37px;
        font-size: 20px;
        margin-bottom: 25px;
    }

    .preguntas-frecuentes{
        display: flex;
        justify-content: space-between;
    }
    
    .titulo-seccion{
        font-family: sans-serif;
    }
    
    .preguntas-frecuentes{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .container-titulo-pregunta{
        width: 400px;
        height: 28px;
        margin-bottom: 5px;
    }
    
    .titulo-pregunta{
        font-family: sans-serif;
        font-size: 15px;
    }
    
    .container-respuesta{
        width: 393px;
        height: 45px;
        margin-bottom: 50px;
        font-size: 10px;
    }
    
    .respuestas{
        font-family: sans-serif;
    }
}