/*------ARROW-DOWN------*/
.arrow-down{
	display: flex;
	justify-content: center;
	align-items:  flex-end;
	flex-grow: 1;
/*	border: 1px dotted red;*/
}

.arrow-down a img{
	width: 45px;
	height: 45px;
}


/*------SECTION GLOBAL------*/
section{
	height:88%; /*DEJAR ASI*/
	padding-top: 80px;
	display: flex;
	flex-direction: column; /*ATENTO A ESTO, TODAS ESTAN EN COLUMN.*/
}


/*------SECTION HELLO------*/
.hello-container {
/*	background-color: #fff;*/
	max-width: 2500px;
}
@media (min-width: 500px) {
	.hello-container{
	background-image: url(../img/main2.png);
	background-repeat: no-repeat;
	background-size:  auto 100% ;
	background-position: 50% 0;
	}
}
@media (min-width: 900px) {
	.hello-container{
	background-image: url(../img/main4.png);
	background-repeat: no-repeat;
	background-size:  auto 100% ;
	background-position: 50% 10%;
	}
}
@media (min-height: 1080px) {
	.hello-container{
		height: 1080px;
	}
}


.hello-title{
	margin-top: 20%; /*shall be CORRECTED!!*/
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	align-content: center; 
	font-weight: 600;
}

.hello-title h2{
	font-size: 18px;
	width: 90%;
	margin: 15px auto 0;
	font-weight: 400;
}
@media (min-width: 550px) {
	.hello-title{
		margin-top: 10%;
	}
	
	.hello-title .title{
		font-weight: 600;
		font-size: 32px;
	}
	
	.hello-title h2{
		font-weight: 500;
		font-size: 22px;
	}
}
@media (min-width: 900px) {
	.hello-title .title{
		margin-top: 0;
		font-size: 48px;
		font-weight: 900;
	}
	.hello-title{
		margin-top: 0; 
	}
}


@media(min-width: 700px){
	.hello-title .title{
		font-weight: 700;
		font-size: 36px;
		margin-top: 50px;
	}
	
	.hello-title h2{
		font-weight: 600;
		font-size: 24px;
	}
}

.hello-calltoaction{
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.hello-calltoaction .full{
	font-size: 18px;
	font-family:'Poppins', sans-serif;

}
.hello-calltoaction .login-button{
	margin-top: 15px; 
	width: 180px;
	height: 35px;
	font-size: 14px;
	border: 3px solid #292929;
}
.hello-calltoaction .login-button:hover{
	color:#820053;
	background-color:whitesmoke; 
}

/*BACKGROUND HELLO*/
.hello-img{ 
	background-image: url(../img/main1.png);
	background-repeat: no-repeat;
	background-size:  100% auto ;
	background-position: 50% 50%;	
}
@media(min-width: 500px) {
	.hello-img{
		background-image: none;
	}
}
@media (min-width: 900px) {
	.hello-container .hello-title .title{
		font-weight: 700;
		font-size: 48px; 
	}
	.hello-container .hello-title h2{
		font-weight: 400;
		font-size: 30px;
	}
	.hello-calltoaction .full{
		font-size: 28px;
		width: 270px;
	}
	.hello-calltoaction .login-button{
	width: 200px;
	font-size: 20px;
	}
	
}






/*------SECTION WHO------*/
.who-container{
	/*display: flex;*/
	max-width: 2500px;
}

@media (min-width:700px){
	.cont{
		display: flex;
		height: 80%;
	}
	
}

@media (min-width: 700px) {
	.who-container{
		background-image: url(../img/blue-skyX2.png);
		background-repeat: no-repeat;
		background-size:  auto 100% ;
		background-position: center;

	}
	.who-container .title{
		/*color:#fafafa;*/
	}
}

.who-text-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	padding: 0 15px;
}
@media(min-width: 700px){
	.who-text-container{
		width: 50%;
		flex: 1 1 auto;
		text-align: center;
		margin: auto 15px; 
	}
}


.who-text-container article{
	margin-top: 25px;
	font-weight: 500;
}
@media (max-width: 297px) {
.who-text-container article{
	margin-top: 20px;
	font-size: 14px;
	font-weight: 300;
	}	
	
}@media (min-width:700px) {
.who-text-container article{
		font-size: 18px;
		font-weight: 500;
	}	
	
}

.who-container .video-container{
	display: flex;
	justify-content: center;
	margin: 10px auto 10px;
}

.who-container .video{
	width: 100%;
	max-width: 700px;
	height: auto;

}
@media(min-width: 700px){
	.cont{
		/*justify-content: space-between;
		align-items: stretch;*/
	}
	.who-container .video-container{
		width: 50%;
		height: auto;
		margin:auto 15px;
	}
}
@media (min-height: 1080px) {
	.who-container{
		height: 1080px;
	}
	
}
@media (min-width: 900px) {
	.who-container .title{
		font-weight: 500;
		font-size: 48px; 
	}
	.who-container article{
		font-size: 24px;
		font-weight: 400;
	}

}

/*------SECTION WHY------*/
.why-container {
	max-width: 2500px;
	/*BACKGROUND WHY*/
	background-image: url(../img/blue-skyX.png);
	background-repeat: no-repeat;
	background-size:  auto 100% ;
	background-position: 25% 0;
}


.why-container  .why-text-container1{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	align-items: center;
}
.why-container .why-text-container2{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	align-items: center;
}


.why-container .why-text{
	margin: 15px auto 15px;
	font-weight: 500;
}
@media(max-width: 407px) {
	.why-container .why-text{
	margin: 10px auto 10px;
	}
}

.why-container .separator{
	border: 2px solid #820053;
	width: 30px;
	height: 0;
	border-radius: 1px;
}
@media (min-height: 1080px) {
	.why-container{
		height: 1080px;
	}
}
@media (min-width:900px){
	why-container .why-text p{
		font-size: 24px;
	} 
	
}





/*------SECTION DATA------*/ 
.data-container{
	max-width: 2500px;
	background-image:url(../img/leafes.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: 40% 0;
}

.data-container .title{
	color:#fafafa;
}

.data-text{
	padding:15px;
	height:100%; 
	/*min-width: 330px;*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap; /*MANTIENE 3 FILAS, 2 COLUMNAS HASTA TAMAÑO IPAD*/
	justify-content: space-between;
	align-content: center;
	font-weight: 500;
}
@media (max-width: 300px){
	.data-text{
		justify-content: center;
	}
}

.icon-box{
	height:100px;
	width: 100px; 
	margin: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.icon-box h4{
	font-size: 16px;
	font-weight: 500;
	width: 100%;
	color: #fafafa;
	margin: 0 100%;
}
.icon-box img{
	height: 70px;
	width: 70px;
}



/*------ MERGED SECTIONS (WHY / DATA) ------*/

@media (min-width:720px){
	.hide-arrow, .hide-separator{
		display: none;
	}
	

	.why-container{
		background-image: none;
		flex-grow: 1;
/*		border-top: 15px solid #657F14; 
		border-left: 20px solid #657F14; 
		border-right: 20px solid #798A4E; */
	}

	.why-container .why-text-container-all{
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: stretch; 
		flex-wrap: nowrap;
	}

	.why-container p{
		font-size: 18px;
	}

	.why-container .why-text-container1 .why-text{
		margin: 10px;
		font-size: 16px;
		
	}

	.why-container .why-text-container2 .why-text{
		margin: 10px;
		font-size: 16px;
				
	}

	.data-container{
		background-size: 100% auto;
		background-position: 0 30%;
		padding: 0 40px;
		border-top-left-radius: 10px; 
		border-top-right-radius: 10px; 
	}

	.data-text{
		margin: auto auto;
		padding: 20px 20px ;
		height: auto;
	}

	.icon-box{

		height: 90px;
		width: 90px; 
		margin: 10px;
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		justify-content: space-around;
	}
	@media (min-width: 850px )  {
		.icon-box{
			height: 100px;
			width: 100px;
		} 	
	}
	.icon-box h4{
		font-size: 16px;
		font-weight: 500;
		width: 100%;
		color: #fafafa;
		margin: 0 0;
	}
	.icon-box img{
		flex-wrap: nowrap;
		height: 60px;
		width: 60px;
	}
	@media (min-width: 850px )  {
		.icon-box img{
			height: 80px;
			width: 80px;
		} 	
	}

	.why-container, .data-container{
		height: 50%;
		padding: 0;
		margin: 0;
	}
	.why-container .title, .data-container .title{
		font-size: 36px;
		font-weight: 500;
		margin-top: 40px;
	}
	
}
@media (min-height: 1080px) {
	.why-container, .data-container{
		height: 590px;
	}
	
}


/*------SECTION CONTACT------*/
.contact-container{
	max-width: 2500px;
	height: 85%;
	padding: 0;
	display: flex;
}
.contact-container .contact-img{
	width: 100%;
	height : 45%;
	min-height: 280px;
	background-image: url(../img/contact.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: 0 0 ; 
}

.contact-text-container{
/*	margin-top: 360px;*/
	padding: 0 15px 0;
	min-height: 230px;
	text-align: center;

}

.contact-text-container h3{
	font-weight: 300;
}

@media(min-width: 500px){
	.contact-container{
		flex-direction: row;
		justify-content: space-between;
		align-items: stretch;
	}	
	.contact-text-container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 35%;
		flex: 1 1 auto;
		text-align: center;
		margin: 0; 
		font-weight: 500;
	}
	.contact-container .contact-img{
	width: 50%;
	height : auto;
	background-image: url(../img/contact.jpg);
	background-repeat: no-repeat;
	background-size: 200% auto;
	background-position: 50% 50% ; 
	}
}

.contact-text-container .title{
	margin: 15px 20px 0;
	min-height: 50px;
}

.contact-text-container h3{
	font-weight: 400;
}
.contact-text-container .empty{
	margin: 15px auto;
}
.contact-text-container .empty:hover{
	color:#820053;
	background-color:whitesmoke; 
}

@media (min-height: 1080px) {
	.contact-container{
		height: 1080px;
	}
	
}

/*@media(min-width: 1000px){
	.title{
		font-size: 60px !important;
	}
	h2{x
		font-size: 48px !important;
	}
	h3{
		font-size: 40px !important;
	}
	h4{
		font-size: 28px !important;
	}
	p{
		font-size: 36px  !important;
	}
	article{
		font-size: 36px  !important;
	}
	.full{
		font-size: 48px !important;
		width: 600px !important;
		height: 90px !important;
	}
	.hello-container .empty{
		font-size: 40px !important;
		width: 500px !important;
		height: 85px !important;

	}
	.contact-container .empty{
		font-size: 40px !important;
		width: 450px !important;
		height: 80px !important;
	}
	.icon-box{
		height: 150px !important;
		width: 150px !important;
	}
	.icon-box img{
		height: 130px;
		width: 130px;
	}
	.arrow-down img {
		height:60px !important;
		width: 60px !important;
	}
}*/
