/*------ARROW-DOWN------*/
.arrow-down{
	display: flex;
	justify-content: center;
	align-items:  flex-end;
	flex-grow: 1;
/*	border: 1px dotted red;*/
}

.arrow-down a img{
	width: 45px;
	height: 45px;
}

/*------SECTION GLOBAL------*/
section{
	height:88%; /*DEJAR ASI*/
	padding-top: 80px;
	display: flex;
	flex-direction: column;
/**/ 
}


/*------SECTION HELLO------*/
.hello-container {
/*	background-color: #fff;*/
}
@media (min-width: 500px) {
	.hello-container{
	background-image: url(../img/main2.png);
	background-repeat: no-repeat;
	background-size:  auto 100% ;
	background-position: 50% 0;
	}
}
@media (min-width: 900px) {
	.hello-container{
	background-image: url(../img/main4.png);
	background-repeat: no-repeat;
	background-size:  auto 100% ;
	background-position: 50% 10%;
	}
}

/*
	FLEX TEMPLATE
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	align-items: center;*/

.hello-title{
	margin-top: 20%; /*shall be CORRECTED!!*/
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	align-content: center; 
}
@media (min-width: 550px) {
	.hello-title{
		margin-top: 10%;
	}
}
@media (min-width: 900px) {
	.hello-title{
		margin-top: 0;
	}
}

/*.title{
	font-size: 28px;
	font-weight: 400;
}*/
@media (min-width: 550px) {
	.hello-title .title{
		font-weight: 400;
		font-size: 32px;
	}
}

.hello-title h2{
	font-size: 18px;
	width: 90%;
	margin: 15px auto 0;
	font-weight: 200;
}
@media (min-width: 550px) {
	.hello-title h2{
		font-weight: 300;
		font-size: 22px;
	}
}
@media (min-width: 900px) {
	.hello-title h2{
		font-weight: 300;
		font-size: 24px;
	}
}

.hello-calltoaction{
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.hello-calltoaction .full{
	font-size: 18px;
	font-family:'Poppins', sans-serif;

}
.hello-calltoaction .login-button{
	margin-top: 15px; 
	width: 180px;
	height: 35px;
	font-size: 14px;
	border: 3px solid #292929;
}

/*BACKGROUND HELLO*/

/*	background-image: url(../img/main2.png);
	background-repeat: no-repeat;
	background-size:  auto 100% ;
	background-position: 50% 0;
	}*/
.hello-img{ 
	background-image: url(../img/main1.png);
	background-repeat: no-repeat;
	background-size:  auto 100% ;
	background-position: 50% 0;
}
@media(min-width: 500px) {
	.hello-img{
		background-image: none;
	}
}


/*------SECTION WHO------*/
.who-container{
	/*display: flex;*/
}

@media (min-width:700px){
	.cont{
		display: flex;
		height: 80%;
	}
	
}

@media (min-width: 700px) {
	.who-container{
		background-image: url(../img/blue-skyX2.png);
		background-repeat: no-repeat;
		background-size:  auto 100% ;
		background-position: 0 0;

	}
	.who-container .title{
		color:#fafafa;
	}
}

.who-text-container{
	display: flex;
/*	flex-wrap: wrap;
	justify-content: center;
	text-align: center;*/
	padding: 0 15px;
}
@media(min-width: 700px){
	.who-text-container{
		width: 35%;
		flex: 1 1 auto;
		text-align: center;
		margin: auto 15px; 
		/*margin-top:20px;
		margin-bottom:20px;   
		height: 100%*/
	}
}


.who-text-container article{
	margin-top: 25px;
	font-weight: 200;
}
@media (max-width: 297px) {
.who-text-container article{
	margin-top: 20px;
	font-size: 14px;
	font-weight: 200;
	}	
	
}@media (min-width:700px) {
.who-text-container article{
		font-size: 22px;
		font-weight: 300;
	}	
	
}

.who-container .video-container{
	display: flex;
	justify-content: center;
	margin: 10px auto 10px;
}

.who-container .video{
	width: 100%;
	max-width: 400px;
	height: auto;

}
@media(min-width: 700px){
	.cont{
		/*justify-content: space-between;
		align-items: stretch;*/
	}
	.who-container .video-container{
		width: 40%;
		height: auto;
		margin:auto 15px;
	}
}

/*------SECTION WHY------*/
.why-container {
	/*BACKGROUND WHY*/
	background-image: url(../img/blue-skyX.png);
	background-repeat: no-repeat;
	background-size:  auto 100% ;
	background-position: 25% 0;

}

.why-container  .why-text-container1{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	align-items: center;
}
.why-container .why-text-container2{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	align-items: center;
}


.why-container .why-text{
	margin: 15px auto 15px;
	font-weight: 200;
}
@media(max-width: 407px) {
	.why-container .why-text{
	margin: 10px auto 10px;
	}
}

.why-container .separator{
	border: 2px solid #820053;
	width: 30px;
	height: 0;
	border-radius: 1px;
}






/*------SECTION DATA------*/ 
.data-container{
	background-image:url(../img/leafes.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: 40% 0;
}

.data-container .title{
	color:#fafafa;
}

.data-text{
	padding:15px;
	height:100%; 
	/*min-width: 330px;*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap; /*MANTIENE 3 FILAS, 2 COLUMNAS HASTA TAMAÑO IPAD*/
	justify-content: space-between;
	align-content: center;
}

.icon-box{
	height:100px;
	width: 100px; 
	margin: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.icon-box h4{
	font-size: 16px;
	font-weight: 300;
	width: 100%;
	color: #fafafa;
	margin: 0 100%;
}
.icon-box img{
	height: 70px;
	width: 70px;
}


/*------ MERGED SECTIONS (WHY / DATA) ------*/
@media (min-width:720px){

	.hide-arrow, .hide-separator{
		display: none;
	}
	

	.why-container{
		background-image: none;
		flex-grow: 1;
		border-top: 10px solid #657F14; 
		border-left: 10px solid #657F14; 
		border-right: 10px solid #798A4E; 
	}

	.why-container .why-text-container-all{

		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: stretch; 
		flex-wrap: nowrap;
	}

	.why-container .why-text-container1 .why-text{
		margin: 10px;
		font-size: 16px;
		
	}

	.why-container .why-text-container2 .why-text{
		margin: 10px;
		font-size: 16px;
				
	}

	.data-container{
		background-size: 100% auto;
		background-position: 0 30%;
	}

	.data-text{
		margin: 20px 0;
		padding: 20px 20px ;
		height: auto;
	}

	.icon-box{

		height: 90px;
		width: 90px; 
		margin: 10px;
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		justify-content: space-around;
	}
	.icon-box h4{
		font-size: 16px;
		font-weight: 300;
		width: 100%;
		color: #fafafa;
		margin: 0 0;
	}
	.icon-box img{
		flex-wrap: nowrap;
		height: 60px;
		width: 60px;
	}

	.why-container, .data-container{
		height: 50%;
		padding: 0;
		margin: 0;
	}
	.why-container .title, .data-container .title{
		font-size: 28px;
		font-weight: 400;
		margin-top: 40px;
	}
	
}
/*.data-text{
	padding:15px;
	height:100%; 

	display: flex;
	flex-direction: row;
	flex-wrap: wrap; 
	justify-content: space-between;
	align-content: center;
}

.icon-box{
	height:100px;
	width: 100px; 
	margin: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

.icon-box h4{
	font-size: 16px;
	font-weight: 300;
	width: 100%;
	color: #fafafa;
	margin: 0 100%;
}
.icon-box img{
	height: 70px;
	width: 70px;
}*/


/*------SECTION CONTACT------*/
.contact-container{
	height: 85%;
	padding: 0;
}
.contact-container .contact-img{
	width: 100%;
	height : 45%;
	min-height: 280px;
	background-image: url(../img/contact.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: 0 0 ; 
}

.contact-text-container{
/*	margin-top: 360px;*/
	padding: 0 15px 0;
	min-height: 230px;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	text-align: center;
}

.contact-text-container .title{
	margin: 15px 20px 0;
	min-height: 50px;
}

.contact-text-container h3{
	font-weight: 300;
}
.contact-text-container .empty{
	margin: 15px auto;
}