*{
  margin: 0;
  padding: 0;
   
} 
html, body{

   

	display: flex;
	align-items: center;
	justify-content: center;

}

body{
     background-image: url("../img/login.png"); 
    background-size: cover;

	min-height: 100vh;
}


.login-text-container{


    max-width: 500px;
    width: 100%;
    margin: 50% auto;
    display: flex;
    flex-direction: column;
}

.login{

	font-size: 28px;
	color: #820053;
	font-weight: 400;
	margin: 50px auto;
	text-align: center;
}
form{
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px ) {
    body{
        background-image: url("../img/writing.png"); 
    background-size: cover;
        background-attachment: fixed;

	min-height: 100vh;
    }
    
    .login-text-container{


    max-width: 700px;
    width: 100%;
    margin: 30px;
    display: flex;
    flex-direction: column;
    }
    
    .login{

	font-size: 50px;
	color: white;
	font-weight: 400;
	margin: 50px auto;
	text-align: center;
    }
    
    #inputUser, #inputKey{
  
    font: "Poppins";
    justify-content: center;
    align-items: center;
    margin: 5% 0 5% 0;
    border-radius: 5px;
    -webkit-appearance: none;
    text-decoration: none;
    box-sizing: border-box;
    padding: 20px 20px;
    font-size: 24px;
    
   }
    
    
}

#inputUser, #inputKey{
  
   font: "Poppins";
    justify-content: center;
    align-items: center;
    margin: 5% 0 5% 0;
    border-radius: 5px;
    -webkit-appearance: none;
    text-decoration: none;
    box-sizing: border-box;
    padding: 12px 20px;
    font-size: 20px;
    
}

.login-text-container a{

    text-decoration: none;
    color: #797979;
    opacity: 0.8;
    margin: 5% 5% 5% 0;
    
}

.login-text-container a:hover{
    opacity: 1;
}

.full:active{
    transform: scale(0.95);
}

.login-text-container a:active{
    transform: scale(0.95);
}


