html{
  padding: 0;
}
body{
  height: 100%;
  padding-top: 50px;
}

.main-container{
    
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  margin: auto 5px;
}
.main-container h1, .main-container h3 {  
  margin: 10px;
}

.accordion{
  width: 90%;
  margin: 10px;
}

@media (min-width: 850px) {
  .accordion{
    width: 70%;
  }
  
}

.ccaa {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.list-or-map{ 
  margin: 10px;
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-or-map a{
/*  height: 41px;*/
  background-color: #fff; 
}


.list-or-map img{
  align-self: center;
  width: 40px;
  height: 40px;
}

.list-or-map #map{
  filter: brightness(0%);
  opacity: 0.6;
}

.active, .ccaa:hover {
  background-color: #ccc; 
}

.panel-parcela {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  color:#820053;
}

.panel-parcela a{
  font-size: 14px;
  color:#820053;
  text-decoration: none;

}


/*footer{
  position: static;
  bottom: 0;
  left: 0;
}*/


.full{
  width: 180px;
  height: 40px;
}

.container-search{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:center;
}

.search{
  height:24px;
  border-radius: 15px;
  padding: 8px 6px;
  border: 1px solid #797979;
  font-size: 16px;
  width:95%;
  margin-bottom:8px;
}

.line-separator{
  margin: 10px 0;
  width:100%;
  border:none;
  height:2px;
  background-color: #820053;
}

.container-tools{
  width:100%;
  display: flex;
  justify-content: space-between;
  margin-bottom:15px;
}

.order-results{
  display: flex;
}
.order-results button{
  width: 30px;
  height: 24px;
  margin: 0 5px;
  padding:0;
  border:none;
  background: #fff;
}
.order-results img{
  width: 30px;
  height: 24px;
  margin: 0;
}

.container-results{
  width:100%;
  display: flex;
  flex-direction:column;
  margin-bottom:40px;
}

.result-box{
  border:2px solid #797979;
  height:130px;
  width:100%;
  margin: 10px 0;
  border-radius: 30px;
  display: flex;
  align-items:center;
  justify-content:space-around;
}

.id-box{
  display: flex;
  background-color: #292929;
  height:75px;
  width:75px;
  border-radius: 50%;
  color: #ffffff;
  font-size:30px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.text-box {
  width:60%;
  display: flex;
  flex-direction:column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/*.text-box p{
  margin-left:0;
  margin-right:0;
}*/
.title-box{
  font-size: 18px;
  font-weight: 500;
}
.location-box{
  font-size:16px;
/*  color:#555555;*/
  font-weight: 300;
}

.result-box:hover{
  background-color: #820053;
  color: #ffffff;
}
.result-box .location-box:hover{
  color: #ffffff;
}
