/* LAPTOP */
body{
	background-color: #fff;
	/*padding: 0 15px;*/
	height: 100%;
}

.recuperar-contraseña{
    display: flex;
    align-items: center;
    padding: 10px;
}

.formulario-contraseña{
    width: 623px;
    height: 521px;
    margin-top: 100px;
    text-align: center;
    opacity: 0.8;
    border-radius: 30px;
    /*border: 1px solid #797979;*/
    background-image: linear-gradient(-180deg, #ffffff 0%, #f2f2f2 0%, #e4e4e4 100%, #ffffff 100%);
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 0;
}

.texto-principal{
    font-family: sans-serif;
    margin-top: 70px; 
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
}

.relleno{
    width: 473px;
    height: 77px;
    margin-left: 102px;
}

.texto-relleno{
    font-family: sans-serif;
    margin-top: 83px;
    font-size: 14px;
    text-align: left;
}

.correo{
    width: 215px;
    height: 58px;
    margin-left: 82px;
}

.texto-correo{
    font-family: sans-serif;
    font-size: 18px;
    text-align: left;
}
.buscador{
    width: 458px;
    height: 51px;
    border-radius: 5px;
    border: solid 1px white;
}

.botones{
    margin-top: 65px;
    height: 54px;
    display: flex;
    align-items: center;
}

#volver{
    margin-left: 102px;
    width: 150px;
    /*height: 54px;*/
    margin-right: 117px;
    background: #fff;
    /*border: solid 1px #797979;*/
    border-radius: 40px;
    font-family: sans-serif;
    font-size: 16px;
    color: #333333; 
    text-decoration: none;
}

#enviar{
    width: 150px;
    /*height: 54px;*/
    background: black;
    border-radius: 40px;
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.div-volver{
    margin-top: 10px;
    height: 22px;
    margin-bottom: 8px;
}

.div-enviar{
    margin-top: 10px;
    height: 22px;
    margin-bottom: 8px;
}

footer{
 position: fixed;
 bottom: 0;
 width: 100%;
}

/* MOBILE */
@media(max-width: 650px){
    .check-btn{
        font-size: 35px;
        color: #292929;
        float: right;
        line-height: 45px;
        margin-right: 15px; 
        cursor: pointer;
        display:block; 
    
    }
    
    #check{
        display: none;
    }

    .formulario-contraseña{
        width: 370px;
        height: 440px;
        margin-top: 100px;
        text-align: center;
        opacity: 0.8;
        border-radius: 30px;
        /*border: 1px solid #797979;*/
        background-image: linear-gradient(-180deg, #ffffff 0%, #f2f2f2 0%, #e4e4e4 100%, #ffffff 100%);
    }
    
    .texto-principal{
        font-family: sans-serif;
        margin-top: 69px;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
    }
    
    .relleno{
        width: 242px;
        height: 74px;
        margin-left: 63px;
    }
    
    .texto-relleno{
        font-family: sans-serif;
        margin-top: 48px;
        font-size: 14px;
        text-align: left;
    }
    
    .correo{
        width: 188px;
        height: 45px;
        margin-left: 52px;
    }
    
    .texto-correo{
        font-family: sans-serif;
        font-size: 16px;
        text-align: left;
    }
    .buscador{
        width: 265px;
        height: 39px;
        border-radius: 5px;
        border: solid 1px #797979;
    }
    
    .botones{
        margin-top: 51px;
        height: 42px;
        display: flex;
        align-items: center;
    }
    
    #volver{
        margin-left: 52px;
        width: 103px;
        height: 42px;
        margin-right: 60px;
        /*background: #fff;
        border: solid 1px #797979;
        border-radius: 5px;*/
        font-family: sans-serif;
        font-size: 16px;
        color: #333333;
        text-decoration: none;
    }
    
    #enviar{
        width: 103px;
        height: 42px;
        /*background: #169bd5;
        border-radius: 5px;*/
        font-family: sans-serif;
        font-size: 16px;
        color: #fff;
        text-decoration: none;
    }
}